{% extends "layouts/page.njk" %}

{% block pageTitle %}Governance Templates - Defra AI Code Review{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Governance Templates</h1>
        
        <div class="govuk-body">
          {% if templates and templates.length %}
            <ul class="govuk-list">
              {% for template in templates %}
                <li>
                  <h2 class="govuk-heading-m">
                    <a href="/governance-templates/{{ template.id }}" class="govuk-link">{{ template.name }}</a>
                  </h2>
                  {% if template.description %}
                    <p class="govuk-body">{{ template.description }}</p>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>No governance templates found.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %} 