{% extends "layouts/page.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block pageTitle %}{{ pageTitle }} - Defra SDLC Governance Checklist{% endblock %}

{% block content %}
{% set value = value or { name: "", description: "", type: "", dependenciesRequires: [] } %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <a href="/workflow-templates/{{ workflowTemplateId }}" class="govuk-back-link">Back to workflow</a>

        {% if error %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
              {
                text: error,
                href: "#name"
              }
            ]
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">Create New Checklist Item</h1>
        
        {% if workflow %}
          <p class="govuk-body">Creating checklist item in workflow: {{ workflow.name }}</p>
        {% endif %}

        <form method="POST" action="/governance-templates/{{ governanceTemplateId }}/workflows/{{ workflowTemplateId }}/checklist-items" novalidate>
          {{ govukInput({
            label: {
              text: "Item Name",
              classes: "govuk-label--m"
            },
            id: "name",
            name: "name",
            value: value.name,
            errorMessage: { text: "Enter an item name" } if error else undefined,
            attributes: {
              "data-testid": "item-name"
            }
          }) }}

          {{ govukTextarea({
            label: {
              text: "Description",
              classes: "govuk-label--m"
            },
            id: "description",
            name: "description",
            value: value.description,
            attributes: {
              "data-testid": "item-description"
            }
          }) }}

          {{ govukRadios({
            idPrefix: "type",
            name: "type",
            value: value.type,
            fieldset: {
              legend: {
                text: "Item Type",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "approval",
                text: "Approval"
              },
              {
                value: "document",
                text: "Document"
              },
              {
                value: "task",
                text: "Task"
              }
            ]
          }) }}

          {% if availableDependencies and availableDependencies.length > 0 %}
            {% set dependencyItems = [] %}
            {% for item in availableDependencies %}
              {% set dependencyItems = dependencyItems.concat([{
                value: item._id,
                text: item.name + " (from workflow: " + item.workflowName + ")",
                checked: value.dependenciesRequires and (item._id | string in value.dependenciesRequires)
              }]) %}
            {% endfor %}

            <div class="govuk-form-group govuk-!-margin-bottom-6">
              {{ govukCheckboxes({
                name: "dependenciesRequires",
                idPrefix: "dependenciesRequires",
                fieldset: {
                  legend: {
                    text: "Dependencies",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "Select the checklist items that must be completed before this item can be started"
                },
                items: dependencyItems
              }) }}
            </div>
          {% endif %}

          {{ govukButton({
            text: "Create checklist item",
            attributes: {
              "data-testid": "submit-button"
            }
          }) }}
        </form>

        {# Debug output #}
        {% if workflow %}
          <!-- Debug: Workflow ID: {{ workflow._id }} -->
          <!-- Debug: Workflow Name: {{ workflow.name }} -->
          <!-- Debug: Available Dependencies Count: {{ availableDependencies | length }} -->
          <!-- Debug: Dependencies: {{ availableDependencies | dump }} -->
          <!-- Debug: Value: {{ value | dump }} -->
        {% else %}
          <!-- Debug: No workflow data available -->
        {% endif %}
      </div>
    </div>
  </main>
</div>
{% endblock %} 